.container{
    background-color: #ffc0cd;
    height: 600px;
    width: 1200px;
    text-align: center;
    border: 2px solid #000000;
    display: flex;
    /* Main axis Properties */
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: center;
     Cross Axix Properties
    align-items: center;
    align-content: space-around;
    Both Axis Properties 
    row-gap: 20px;
    column-gap: 30px;*/
}
.item{
    height: 200px;
    width: 200px;
    background-color: #fae000;
    border: 1px solid #000000;
    flex-grow: 1;
}
.item3{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;
}
.item2{
    flex-shrink: 2;
}