.container{
    display: grid;
    border: 2px solid #000000;
    height: 500px;
    width: 1000px;
    background-color: bisque;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    /* grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer"; */
    /* column-gap: 15px;
    row-gap: 10px;
     */
    /* justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
     */
}
.item{
    height: 100px;
    width: 100px;
    border: 2px solid purple; 
    text-align: center;
    align-content: center;
    background-color: brown;
    color: aliceblue;
}
/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
} */