p{
    color: lavender;
    background-color: purple; /*lol*/
    font-size: 40px;
    text-align: center;
}
.dj{
    color: blueviolet;
    background-color: burlywood;
    text-align: center;
    height: 300px;
    width: 300px;
    padding: 5px;
    border: 1px dotted red;
    margin: 5px;
}
#dj1{
    color: brown;
    background-color: beige;
}
#dj2{
    color: yellow;
    background-color: black;
}
